* {
    padding: 0;
    margin: 0;
    font-family: 'Arvo', serif;
    color: #FFF;
}

html {
    height: 100%;
}

body {
    background-color: hsl(270, 12%, 31%);
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

#encyclopedie {
    margin: 0 auto;
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

figure {
    margin-right: 8px;
}

#descrpition-window {
    height: inherit;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 8px;
}

#descrpition {
    color: floralwhite;
    min-width: 250px;
    max-height: 500px;
    overflow: auto;
}

#limb-field {
    margin-bottom: 50px;
    min-width: 100px;
}

.circles {
    cursor: grab;
    height: 50px;
    width: 50px;
    background-color: #172321;
    border-radius: 50%;
    opacity: 0.7;
    position: absolute;
}

#shoulder {
    top: 220px;
}

#elbow {
    top: 320px;
    left: 45%;
}

#hand {
    top: 370px;
    left: 37.5%;
}

#hips {
    top: 378px;
    left: 43.5%;
}

#knee {
    bottom: 200px;
    left: 39.9%;
}

#foot {
    bottom: 108px;
    left: 42.8%;
}

.red {
    background-color: #f94747;
    opacity: 0.7;
}
