* {
    padding: 0;
    margin: 0;
    font-family: 'Arvo', serif;
    color: #FFF;
}

html {
    height: 100%;
}

body {
    background-color: hsl(270, 12%, 31%);
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

#encyclopedie {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 500px;
    height: 500px;
    position: relative;
}

.block-circles {
    text-align: end;
    width: 138px;
    height: 500px;
    position: relative;
}

figure {
    margin-right: 8px;
    width: 140px;
    position: relative;
}

#descrpition-window {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 8px;
    width: 250px;
    max-height: 500px;
}

#description {
    color: floralwhite;
    overflow: auto;
}

#limb-field {
    margin-bottom: 50px;
    min-width: 100px;
}

.circles {
    cursor: grab;
    height: 50px;
    width: 50px;
    background-color: #172321;
    border-radius: 50%;
    opacity: 0.6;
    position: absolute;
}

#shoulder {

    top: 82px;
    left: -4px;
}

#elbow {

    top: 174px;
    right: -11px;
}

#hand {
    top: 232px;
    left: -11px;
}

#thigh {
    bottom: 209px;

    left: 74px;
}

#knee {
    bottom: 100px;

    left: 24px;
}

#foot {
    bottom: 20px;

    left: 68px;
}

.red {
    background-color: #f94747;
    opacity: 0.7;
}